.game-container{
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
}

.container-one,
.container-two{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-game-board,
.c-game-board {
  border: 3px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.851);
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell{
  position: relative;
  border: .5px solid rgb(116, 116, 116);
}

.cell:hover{
  z-index: 99;
  transform: scale(1.2);
  border-width: 2px;
  /* background-color: rgb(172, 234, 172); */

  cursor: pointer;
}

.cell--ship{
  background-color: #c8c8ff;
}

.cell--unavailable{
  background-color: #d8d8d8;
}

.cell--miss{
  background-color: #FAFAD2;
  
}

.cell--hit{
  background-color: #FF0000;
  /* border-color: #FF0000; */

}

.next-piece-box{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}