html {
  user-select: none;
}

.hidden {
  display: none !important;
}

.game-container {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
}

.container-one,
.container-two,
.container-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.p-game-board,
.c-game-board {
  border: 3px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.851);
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.d-board {
  border: 3px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.851);
  height: 300px;
  width: 300px;
}

.cell {
  position: relative;
  border: 0.5px solid rgb(116, 116, 116);
}

.cell:hover {
  z-index: 99;
  transform: scale(1.2);
  border-width: 2px;
  /* background-color: rgb(172, 234, 172); */

  cursor: pointer;
}

.cell.over {
  background-color: #a9ffa9;
}

.cell.over--invalid {
  background-color: #ffd0cb;
}

.copy-cursor {
  cursor: copy !important;
}

.cell--ship {
  background-color: #a9a9ff;
}

.cell--unavailable {
  background-color: #d8d8d8;
}

.cell--undiscovered {
  background-color: rgba(255, 255, 255, 0.851) !important;
}

.cell--miss {
  background-color: #fafad2;
  position: relative;
}

.cell--miss::after {
  content: ""; /* Required for the pseudo-element to be generated */
  position: absolute;
  width: 5px; /* Size of the dot */
  height: 5px; /* Size of the dot */
  background-color: black; /* Color of the dot */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  border-radius: 50%; /* Makes the shape a circle */
  transform: translate(-50%, -50%); /* Offset the dot to truly center it */
}

.cell--hit {
  position: relative;
  background-color: #fafad2;
  border-color: #ff0000;
  border-width: 1.5px;
}

.cell--hit::before,
.cell--hit::after {
  content: "";
  position: absolute;
  width: 2px; /* Width of the "X" lines */
  height: 150%; /* Adjusted to fit the square */
  top: -25%; /* Adjusted for better centering */
  left: 50%; /* Center horizontally */
  background-color: red; /* Color of the "X" */
  transform: translateX(-50%); /* Center the line's width */
}

.cell--hit::before {
  transform: translateX(-50%) rotate(45deg); /* Center and rotate one line to form one slash of the "X" */
}

.cell--hit::after {
  transform: translateX(-50%) rotate(-45deg); /* Center and rotate the other line to form the other slash of the "X" */
}

.next-piece-box {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-piece-box.greyed-out {
  opacity: 0.1;
  pointer-events: none;
}

.ship-draggable {
  display: grid;
}

.ship-draggable.ship-draggable--size-4 {
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: 30px;
}
.ship-draggable.ship-draggable--size-3 {
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: 30px;
}
.ship-draggable.ship-draggable--size-2 {
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: 30px;
}
.ship-draggable.ship-draggable--size-1 {
  grid-template-columns: repeat(1, 30px);
  grid-template-rows: 30px;
}

.ship-draggable.ship-draggable--size-4.vertical {
  grid-template-rows: repeat(4, 30px);
  grid-template-columns: 30px;
}
.ship-draggable.ship-draggable--size-3.vertical {
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: 30px;
}
.ship-draggable.ship-draggable--size-2.vertical {
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: 30px;
}
.ship-draggable.ship-draggable--size-1.vertical {
  grid-template-rows: repeat(1, 30px);
  grid-template-columns: 30px;
}

.ship-cell-drag {
  background-color: #a9a9ff;
  border: 0.5px solid rgb(116, 116, 116);
}

.d--game-over-screen {
  background-color: #a9ffa9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.d--select-mode {
  background-color: #a9d4ff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}

.shake {
  animation: shake 500ms ease-out;
  border-color: #900;
  background-color: #fdd;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-15px);
  }
  15% {
    transform: translateX(15px);
  }
  25% {
    transform: translateX(-15px);
  }
  35% {
    transform: translateX(15px);
  }
  45% {
    transform: translateX(-15px);
  }
  55% {
    transform: translateX(15px);
  }
  65% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(6px);
  }
  85% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}
